{% extends "base.html" %} {% load static %} {% block content %}
<div class="container-fluid p-0 h-100">
  <div class="row h-100 g-0">
    <!-- Боковое меню -->
    <div
      class="col-2 d-flex flex-column flex-shrink-0 p-2 text-white bg-dark h-100"
    >
      <div class="text-center fs-4">
        <p>Чаты</p>
      </div>
      <div class="flex-column mb-auto p-1">
        {% for chat in chats %}
        <a href="/chat/{{ chat.id }}" style="text-decoration: none">
          <div
            class="card p-1 m-1 {% if chat.id == current_chat_id %}bg-primary text-white{% endif %}"
          >
            {{ chat.title }}
          </div>
        </a>
        {% endfor %}
      </div>
      <hr />
      <div class="dropdown">
        <a
          href="#"
          class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
          id="dropdownUser1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img
            src=""
            alt=""
            width="32"
            height="32"
            class="rounded-circle me-2"
          />
          <strong>mdo</strong>
        </a>
        <ul
          class="dropdown-menu dropdown-menu-dark text-small shadow"
          aria-labelledby="dropdownUser1"
        >
          <li><a class="dropdown-item" href="#">Профиль</a></li>
          <li><hr class="dropdown-divider" /></li>
          <li><a class="dropdown-item" href="#">Выйти</a></li>
        </ul>
      </div>
    </div>
    <!-- Чат -->
    <div class="col d-flex justify-content-center">
      <div class="row w-50 bg-primary">
        <div></div>
        <form action=""></form>
      </div>
    </div>
  </div>
  <script src="{% static 'js/chat/chat.js' %}"></script>
  {% endblock %}
</div>
